
<nav class="navbar navbar-expand-lg fixed-top mnav">
  <div class="container-fluid">
    
    <a class="navbar-brand navhead" href="/"><i class="fa-solid fa-magnifying-glass"></i>Find it</a>

    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

   
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    
      <div class="navbar-nav mx-auto navitems">
         <% if (currentUser) { %>
        <a class="nav-link  n1" id="n1n" aria-current="page" href="/browser">Browse Items</a>
        <a class="nav-link  n1" href="/report">Report Lost</a>
        <a class="nav-link  n1" href="/reportfnd">Report Found</a>
         <% } %>
      </div>

    
      <div class="d-flex navend">
         <% if (!currentUser) { %>
        <a class="btn btn-secondary navlo" href="/login">Login</a>
        <a class="btn btn-info sbtn" href="/signup">Signup</a>
        <% } else { %>
         <a href="/profile/<%= currentUser.user_id %>">
    <i class="fa-solid fa-user users"></i>
</a>

           <a class="btn btn-secondary navlo" href="/logout">Logout</a>
          

           <% } %>
      </div>
    </div>
  </div>
</nav>
